<!-- base_laser is mounted 0.1615m above base_link -->
<robot name="rover">
  <link name="base_link"/>
  <link name="base_laser"/>
  <joint name="base_laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0 0 0.1615" rpy="-1.5708 0 0"/>
  </joint>
</robot>
